commands:
  01_make_directory:
    command: mkdir -p /opt/python/log
  02_make_info_log:
    command: touch /opt/python/log/info.log
  03_make_debug_log:
    command: touch /opt/python/log/debug.log
  04_make_error_log:
    command: touch /opt/python/log/error.log
  05_change_permissions:
    command: chmod g+s /opt/python/log
  06_change_owner:
    command: chown webapp:webapp /opt/python/log
  07_change_default_owner:
    command: setfacl -d -m g::rw /opt/python/log